<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>OLX Crawler</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.7.1/css/mdb.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css')}}">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 id="header" class="text-center">
                    OLX Crawler
                </h1>
            </div>
            {% if offers %}

            <ul id="offers" class="list-group">
                {% for offer in offers %}

                <li class='list-group-item mt-2 d-flex justify-content-between'>

                    <div class="media">
                        <div class="media-left">
                            <img width="125" class="img-thumbnail" src="{{ offer.image }}" alt="">
                        </div>
                        <div class="media-body">
                            <h2 class="media-heading mt-0">
                                <a href="{{ offer.url }}" target="_blank"> {{ offer.title }} </a>
                            </h2>

                            <span class="badge badge-muted badge-pill">
                                    <a href="https://www.google.pl/maps/place/{{ offer.location }}" target="_blank">
                                        <i class="fas fa-map-marker-alt">
                                            {{ offer.location }}                                        
                                        </i>       
                                    </a>         
                                </span>
                        </div>

                    </div>

                    <p class="text-right p-2 price">
                        {{ offer.price }}
                    </p>

                </li>

                {% endfor %}
            </ul>
            {% endif %}
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js" integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9" crossorigin="anonymous"></script>
</body>

</html>