#header{
	font-family: 'Chewy', cursive;
	text-shadow: 1px 3px 1px rgba(0, 0, 0, 0.6);
}

.media{	
    font-family: 'Ubuntu', sans-serif;
}

.price{
	font-weight: 800;
    white-space: nowrap;
}

.img-thumbnail:hover{
	cursor: pointer;
}

.clipboard:hover{
	cursor: pointer;
}